@font-face {
	font-family: 'bariol_regular';
	src: url('../fonts/bariol_regular-webfont.eot'),
			 url('../fonts/bariol_regular-webfont.woff') format('woff'),
			 url('../fonts/bariol_regular-webfont.woff2') format('woff2'),
			 url('../fonts/bariol_regular-webfont.ttf') format('truetype');;
	font-weight: normal;
	font-style: normal;
}

*{
  box-sizing: border-box;
	font-family: 'bariol_regular';
}

body {
  background: rgb(244, 243, 243);
}

.wrapper {
  max-width: 480px;
  margin: auto;
  background: #fff;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.title {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 30px;
}

.tabs button{  
  width: 30%;
  margin-left: 3%;
  margin-bottom:5px;
  text-align: center;
}

.todoInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

input {
  width: 75%;
  margin-left: 3%;
  margin-right: 25px;
  padding: 15px 0 15px 15px;
  border-radius: 4px;
  border: 1px solid rgb(238, 238, 238);
}

button {
  background: #62c7ff;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  padding: 15px 25px;
  border-radius: 4px;
  color: #fff;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 50px;
  text-align: center;
}

li {
  font-weight: 300;
  padding: 20px 0 20px 0;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

li > span{
  width: 240px;
  word-wrap: break-word;
}

img {
  height: 25px;
}

button.action {
  color: #333;
  background: none;
  padding: 0;
}

button.action:focus {
  outline: none;
}
